node_modules/
dist/
build/
.env
.DS_Store
*.log
.cache/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.idea/
/.local/
/.parcel-cache/
Thumbs.db
/.pnp/
/.pnp.js
package-lock.json
pnpm-lock.yaml
.vercel
